---
interface Props {
  type: 'TUTORIAL' | 'OPINION' | 'NOTE' | 'LINK' | 'STREAM' | 'PROMPTS';
  size?: 'sm' | 'lg';
}

const { type, size = 'sm' } = Astro.props;
const normalizedType = type === 'NOTE' ? 'OPINION' : type;
---

<span class={`type-chip type-chip-${normalizedType.toLowerCase()} ${size === 'lg' ? 'type-chip-lg' : ''}`}>{normalizedType}</span>
